NODE_ENV=development
VITE_APP_NAME="Lobotec"

# Configurações do Servidor Web
VITE_API_URL="http://localhost/api"
VITE_REVERB_URL="http://localhost"
VITE_STORAGE_URL="http://localhost"

# Configurações do Servidor WebSocket (Reverb)
VITE_REVERB_APP_KEY=20-character-string
VITE_REVERB_HOST=localhost
VITE_REVERB_PORT=8080
VITE_REVERB_SCHEME=http

# Feature Flags
VITE_PASSWORD_REQUIRE_MIN_8=true
VITE_PASSWORD_REQUIRE_UPPERCASE=true
VITE_PASSWORD_REQUIRE_NUMBER=true
VITE_PASSWORD_REQUIRE_SYMBOL=true
VITE_ENABLE_NOTIFICATIONS_FEATURE=true